APP_NAME=Samurai02
JWT_SECRET=Samurai02_SECRET
NAME_DB=samurai02.db
PATH_DATABASE=/home/shared/databases/Samurai02/
ADMIN_EMAIL_CREATE_ON_STARTUP=["nrodrig1@gmail.com"]
ANTHROPIC_API_KEY=ANTHROPIC_SECRET_KEY
PATH_TO_RAG_CONTEXT_DATA=/home/shared/project_resources/Samurai02APIRag/rag/context_data/
PATH_TO_RAG_INDEX=/home/shared/project_resources/Samurai02APIRag/rag/index/
URL_BASE_API_RAG=http://localhost:8003